{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="m-2">
            <label for="username" class="py-2 pe-3">Nom d'utilisateur :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <label for="password" class="py-2 ms-3 pe-3">Mot de passe :</label>
            <input type="password" id="password" name="_password" />
        </div>
        <div class="row my-3 mt-5 ms-md-auto col-md-3">
            <button class="btn btn-success" type="submit">Se connecter</button>
        </div>
    </form>
{% endblock %}
