{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(taskForm, {'action' : path('tasks_create')}) }}
            {{ form_widget(taskForm) }}

            <div class="row ms-auto col-md-3 my-3">
                <button type="submit" class="btn btn-success">Ajouter</button>
            </div>
        {{ form_end(taskForm) }}

        <a href="{{ path('tasks_list', {'status':'todo','page' : 1}) }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}
